<content class="otpInput">
    <form class="otpInputForm button_submit">
        <input class="form-field otpInput" type="number" placeholder="Vui lòng nhập OTP" min="6" max="6">
        <span>OTP</span>
        <button type="submit" class="btnSubmit"><span>Hover me!</span></button>
    </form>       
</content>


