<!DOCTYPE html>
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Makplus - Marketplace HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- Start - Template CSS here -->
        <link rel="stylesheet" href="css/template_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/template_css/animate.min.css">
        <link rel="stylesheet" href="css/template_css/magnific-popup.css">
        <link rel="stylesheet" href="css/template_css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/template_css/aos.css">
        <link rel="stylesheet" href="css/template_css/flaticon.css">
        <link rel="stylesheet" href="css/template_css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/template_css/nice-select.css">
        <link rel="stylesheet" href="css/template_css/meanmenu.css">
        <link rel="stylesheet" href="css/template_css/slick.css">
        <link rel="stylesheet" href="css/template_css/default.css">
        <link rel="stylesheet" href="css/template_css/style.css">
        <link rel="stylesheet" href="css/template_css/responsive.css">
        <!-- End - Template CSS here -->

        <!-- Start - CSS here -->
        <link rel="stylesheet" href="css/template_css/style.css">
        <!-- End - CSS here -->
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

        <!-- header-area -->
        {{>header}}
        <!-- header-area-end -->

        <!-- main-area -->
        <main>
            <!-- slider-area -->
            <section class="slider-area slider-bg" data-background="img/slider/slider_bg01.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-10">
                            <div class="slider-content text-center mb-45">
                                <h2>CUNG CẤP GAME, GIẢI TRÍ CHÍNH HÃNG GIÁ RẺ</h2>
                                <p>Nạp tiền mobile, nạp tiền vào game nhanh chóng và rẻ nhất thị trường</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <div class="slider-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Nhập từ khóa bạn muốn tìm kiếm...">
                                    <select name="name" class="selected">
                                        <option value="">Tất cả danh mục</option>
                                        <option value="">Game</option>
                                        <option value="">Giải trí</option>
                                        <option value="">Học tập</option>
                                    </select>
                                    <button>Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="slider-dashboard">
                                <div class="dashboard-active">
                                    <div class="single-dashboard">
                                        <a href="product-details.html"><img src="img/slider/NETFLIX1406.png" alt="img"></a>
                                    </div>
                                    <div class="single-dashboard">
                                        <a href="product-details.html"><img src="img/slider//prime_game_15_days.png" alt="img"></a>
                                    </div>
                                    <div class="single-dashboard">
                                        <a href="product-details.html"><img src="img/slider/YOUTUBE_NO_ADS_1_NAM.png" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider-area-end -->
            <!-- features-items -->
            <section class="features-items-area features-items-p">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="section-title text-center mb-55">
                                <h2>Từ khóa nổi bật</h2>
                                <p>Bạn có thể tìm được sản phẩm phù hợp với những từ khóa nhiều người tìm kiếm dưới đây.</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-thumb-wrap">
                        <div class="row text-center justify-content-center">
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb01.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb02.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb03.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb04.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb05.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb06.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb07.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb08.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb09.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb10.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb11.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb12.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb13.jpg" alt="img"></a>
                            </div>
                            <div class="single-product-thumb">
                                <a href="#"><img src="img/thumb/product_thumb14.jpg" alt="img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- features-items-end -->
            <!-- product-area -->
            <section class="product-area product-bg pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-9">
                            <div class="section-title text-center mb-30">
                                <h2>Sản phẩm nổi bật</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="product-menu mb-60">
                                <button class="active" data-filter="*">Tất cả</button>
                                <button class="" data-filter=".cat-one">Games</button>
                                <button class="" data-filter=".cat-two">Giải trí</button>
                                <button class="" data-filter=".cat-three">Học tập</button>
                                <button class="" data-filter=".cat-four">Làm việc</button>
                                <button class="" data-filter=".cat-five">Khác</button>
                            </div>
                        </div>
                    </div>
                    <div class="row product-active">
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-three cat-five">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img01.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-three">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img02.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-one cat-five">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img03.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-two cat-four">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img04.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-one cat-four">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img05.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-two cat-three">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img06.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-one cat-five">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img07.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 grid-item cat-two cat-four">
                            <div class="single-product mb-30">
                                <div class="product-img">
                                    <a href="#"><img src="img/product/product_img08.jpg" alt="img"></a>
                                </div>
                                <div class="product-overlay">
                                    <h5><a href="#">Donlee - WordPress Theme</a></h5>
                                    <span>$49</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-btn text-center mt-30">
                                <a href="#" class="btn">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-bg-shape">
                    <img src="img/shape/product_shape.png" alt="img">
                </div>
            </section>
            <!-- product-area-end -->
            <!-- testimonial-area -->
            <section class="testimonial primary-bg pt-110 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="section-title text-center mb-55">
                                <h2>Sản phẩm bán chạy nhiều nhất</h2>
                                <p>Có thể bạn cũng quan tâm đến những sản phẩm được nhiều người mua nhất.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row testimonial-active">
                        <div class="col-xl-4">
                            <div class="single-testimonial mb-20">
                                <div class="testi-content text-center">
                                    <div class="testi-quote mb-25">
                                        <img src="img/icon/quote_icon.png" alt="img">
                                    </div>
                                    <p>“ In promotion and of advertising testimonial show consiss of a person's written orsoken statement extollig the virtue ”</p>
                                </div>
                                <div class="testi-avatar d-flex align-items-center">
                                    <div class="t-avatar-img mr-15">
                                        <img src="img/images/testi_avatar01.png" alt="img">
                                    </div>
                                    <div class="t-avatar-info">
                                        <h4>Games Randall</h4>
                                        <span>Founder ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="single-testimonial mb-20">
                                <div class="testi-content text-center">
                                    <div class="testi-quote mb-25">
                                        <img src="img/icon/quote_icon.png" alt="img">
                                    </div>
                                    <p>“ In promotion and of advertising testimonial show consiss of a person's written orsoken statement extollig the virtue ”</p>
                                </div>
                                <div class="testi-avatar d-flex align-items-center">
                                    <div class="t-avatar-img mr-15">
                                        <img src="img/images/testi_avatar02.png" alt="img">
                                    </div>
                                    <div class="t-avatar-info">
                                        <h4>Emaley Mcculloch</h4>
                                        <span>Founder ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="single-testimonial mb-20">
                                <div class="testi-content text-center">
                                    <div class="testi-quote mb-25">
                                        <img src="img/icon/quote_icon.png" alt="img">
                                    </div>
                                    <p>“ In promotion and of advertising testimonial show consiss of a person's written orsoken statement extollig the virtue ”</p>
                                </div>
                                <div class="testi-avatar d-flex align-items-center">
                                    <div class="t-avatar-img mr-15">
                                        <img src="img/images/testi_avatar03.png" alt="img">
                                    </div>
                                    <div class="t-avatar-info">
                                        <h4>Annaly Satson</h4>
                                        <span>Founder ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="single-testimonial mb-20">
                                <div class="testi-content text-center">
                                    <div class="testi-quote mb-25">
                                        <img src="img/icon/quote_icon.png" alt="img">
                                    </div>
                                    <p>“ In promotion and of advertising testimonial show consiss of a person's written orsoken statement extollig the virtue ”</p>
                                </div>
                                <div class="testi-avatar d-flex align-items-center">
                                    <div class="t-avatar-img mr-15">
                                        <img src="img/images/testi_avatar02.png" alt="img">
                                    </div>
                                    <div class="t-avatar-info">
                                        <h4>Annaly Satson</h4>
                                        <span>Founder ceo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
            <!-- testimonial-area-end -->
            <!-- services-area -->
            <section class="services-area services-bg pt-115 pb-70" data-background="img/bg/services_bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="section-title white-title text-center mb-55">
                                <h2>Chăm sóc khách hàng</h2>
                                <p>Customer review is a review of a product or service made</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="single-services mb-50">
                                <div class="services-icon mb-30">
                                    <img src="img/icon/services_icon01.png" alt="img">
                                </div>
                                <div class="services-content">
                                    <h4>Customer Support</h4>
                                    <p>Market marketplace that location where people regular purchase and provisins. written or spoken</p>
                                    <a href="#" class="btn">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="single-services mb-50">
                                <div class="services-icon mb-30">
                                    <img src="img/icon/services_icon02.png" alt="img">
                                </div>
                                <div class="services-content">
                                    <h4>eCommerce Support</h4>
                                    <p>Market marketplace that location where people regular purchase and provisins. written or spoken</p>
                                    <a href="#" class="btn">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                            <div class="single-services mb-50">
                                <div class="services-icon mb-30">
                                    <img src="img/icon/services_icon03.png" alt="img">
                                </div>
                                <div class="services-content">
                                    <h4>Reduce your search time</h4>
                                    <p>Market marketplace that location where people regular purchase and provisins. written or spoken</p>
                                    <a href="#" class="btn">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.8s">
                            <div class="single-services mb-50">
                                <div class="services-icon mb-30">
                                    <img src="img/icon/services_icon04.png" alt="img">
                                </div>
                                <div class="services-content">
                                    <h4>Sell your digital products</h4>
                                    <p>Market marketplace that location where people regular purchase and provisins. written or spoken</p>
                                    <a href="#" class="btn">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services-area-end -->
            <!-- plugin-area -->
            <section class="plugin-area plugin-bg position-relative pt-115 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <div class="section-title text-center mb-55">
                                <h2>Best Plugins Integrations Plans</h2>
                                <p>Market or marketplace is location where people regularly purchase and provisins.</p>
                            </div>
                        </div>
                    </div>
                    <div class="plugin-wrap">
                        <div class="row justify-content-center">
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin01.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin02.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin03.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin04.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin05.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin06.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin07.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin08.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin09.jpg" alt="img"></a>
                            </div>
                            <div class="single-plugin text-center">
                                <a href="#"><img src="img/plugin/plugin10.jpg" alt="img"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plugin-shape"><img src="img/shape/plugin_shape.png" alt="img"></div>
            </section>
            <!-- plugin-area-end -->
            <!-- blog-area -->
            <section class="blog-area blog-bg pt-115 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-55">
                                <h2>Latest News</h2>
                                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-post mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="img/blog/blog_thumb01.jpg" alt="img"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="bc-top-wrap fix mb-25">
                                        <div class="b-post-date">
                                            <h6>19</h6>
                                            <span>Aug, 2019</span>
                                        </div>
                                        <div class="b-top-content fix">
                                            <h5><a href="#">Global Marketplace Market</a></h5>
                                            <div class="blog-meta">
                                                <ul>
                                                    <li><a href="#"><i class="far fa-user"></i>Admin</a></li>
                                                    <li><i class="far fa-comments"></i>19</li>
                                                    <li><i class="far fa-heart"></i>457</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Simply dummy textht the prihntig and tyesetting industry. Lorem Ipsum has been.</p>
                                    <a href="#">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-post mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="img/blog/blog_thumb02.jpg" alt="img"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="bc-top-wrap fix mb-25">
                                        <div class="b-post-date">
                                            <h6>19</h6>
                                            <span>Aug, 2019</span>
                                        </div>
                                        <div class="b-top-content fix">
                                            <h5><a href="#">Global Marketplace Market</a></h5>
                                            <div class="blog-meta">
                                                <ul>
                                                    <li><a href="#"><i class="far fa-user"></i>Admin</a></li>
                                                    <li><i class="far fa-comments"></i>19</li>
                                                    <li><i class="far fa-heart"></i>457</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Simply dummy textht the prihntig and tyesetting industry. Lorem Ipsum has been.</p>
                                    <a href="#">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-post mb-30">
                                <div class="blog-thumb">
                                    <a href="#"><img src="img/blog/blog_thumb03.jpg" alt="img"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="bc-top-wrap fix mb-25">
                                        <div class="b-post-date">
                                            <h6>19</h6>
                                            <span>Aug, 2019</span>
                                        </div>
                                        <div class="b-top-content fix">
                                            <h5><a href="#">Global Marketplace Market</a></h5>
                                            <div class="blog-meta">
                                                <ul>
                                                    <li><a href="#"><i class="far fa-user"></i>Admin</a></li>
                                                    <li><i class="far fa-comments"></i>19</li>
                                                    <li><i class="far fa-heart"></i>457</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Simply dummy textht the prihntig and tyesetting industry. Lorem Ipsum has been.</p>
                                    <a href="#">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->
            <!-- newsletter-area -->
            <section class="newsletter-area fix pt-120 pb-120">
                <div class="container">
                    <div class="newsletter-wrap">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-right">
                                <div class="section-title mb-35">
                                    <h2>Get started with Subscriber</h2>
                                    <p>Market or marketplace is location where people regularly purchase and provisins.</p>
                                </div>
                                <div class="newsletter-form">
                                    <form action="#">
                                        <input type="email" placeholder="Enter Your Email">
                                        <button class="btn">Subscribe</button>
                                    </form>
                                    <p>See Help Monthly or Yearly plan. <a href="#">Get a Demo</a></p>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6" data-aos="fade-left">
                                <div class="newsletter-img text-center text-lg-right">
                                    <img src="img/images/newsletter_img.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- newsletter-area-end -->
        </main>
        <!-- main-area-end -->


        <!-- footer -->
        {{>footer}}
        <!-- footer-end -->

        <!-- Start - MY JS here -->
        <!-- End - My JS here -->

		<!-- Start - Template JS here -->
        <script src="js/template_js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/template_js/popper.min.js"></script>
        <script src="js/template_js/bootstrap.min.js"></script>
        <script src="js/template_js/isotope.pkgd.min.js"></script>
        <script src="js/template_js/slick.min.js"></script>
        <script src="js/template_js/jquery.meanmenu.min.js"></script>
        <script src="js/template_js/ajax-form.js"></script>
        <script src="js/template_js/wow.min.js"></script>
        <script src="js/template_js/aos.js"></script>
        <script src="js/template_js/jquery-ui.min.js"></script>
        <script src="js/template_js/jquery.counterup.min.js"></script>
        <script src="js/template_js/jquery.waypoints.min.js"></script>
        <script src="js/template_js/jquery.nice-select.min.js"></script>
        <script src="js/template_js/jquery.scrollUp.min.js"></script>
        <script src="js/template_js/imagesloaded.pkgd.min.js"></script>
        <script src="js/template_js/jquery.magnific-popup.min.js"></script>
        <script src="js/template_js/plugins.js"></script>
        <script src="js/template_js/main.js"></script>
        <!-- End - Template JS here -->
    </body>
</html>
