<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Makplus - Marketplace HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- Start - Template CSS here -->
        <link rel="stylesheet" href="css/template_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/template_css/animate.min.css">
        <link rel="stylesheet" href="css/template_css/magnific-popup.css">
        <link rel="stylesheet" href="css/template_css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/template_css/aos.css">
        <link rel="stylesheet" href="css/template_css/flaticon.css">
        <link rel="stylesheet" href="css/template_css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/template_css/nice-select.css">
        <link rel="stylesheet" href="css/template_css/meanmenu.css">
        <link rel="stylesheet" href="css/template_css/slick.css">
        <link rel="stylesheet" href="css/template_css/default.css">
        <link rel="stylesheet" href="css/template_css/style.css">
        <link rel="stylesheet" href="css/template_css/responsive.css">
        <!-- End - Template CSS here -->

        <!-- Start - CSS here -->
        <link rel="stylesheet" href="css/my_css/style.css">
        <!-- End - CSS here -->
</head>
<body>
    <!-- header -->
    {{>header}}
    <!-- header -->
    
    <!-- Start: Main content-->
    <div class="chargeMoneyMobile">
        <div class="containerForm" >
            <form class="chargeMoneyMobile-row numberphoneInput selectBank" id="chargePayoutSubmit">
                <div class="chargeMoneyMobile-row " >
                    <div class="form__group field">
                        <input type="text" class="form__field transactionID" placeholder="name" name="name" id='name'
                               value= {{transactionID}}>
                        <label for="name" class="form__label">Mã đơn hàng: </label>
                    </div>
                    <div class="form__group field">
                        <input type="text" class="form__field merchantCode" placeholder="name" name="name" id='name' required
                        />
                        <label for="name" class="form__label ">Merchant code: </label>
                    </div>
                    <div class="form__group field">
                        <input type="text" class="form__field apiToken" placeholder="name" name="name" id='name' required
                        />
                        <label for="name" class="form__label ">Api Token: </label>
                    </div>
                    <div class="form__group field">
                        <input type="number" class="form__field accountNumber" placeholder="name" name="name" id='name' required
                               pattern="(?:\+?[1-9]\d{0,2}\s?|0)\(?\d{3,4}\)?[\s.-]?\d{3}[\s.-]?\d{3,4}" minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập số tài khoản: </label>
                    </div>

                    <div class="form__group field">
                        <input type="text" class="form__field accountName" placeholder="name" name="name" id='name' required
                               minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập tên tài khoản: </label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field amount" placeholder="name" name="name" id='name' required
                               pattern="(?:\+?[1-9]\d{0,2}\s?|0)\(?\d{3,4}\)?[\s.-]?\d{3}[\s.-]?\d{3,4}" minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập số tiền cần rút: </label>
                    </div>
                </div>
                <br>
                <h4>Lựa chọn ngân hàng:</h4>
                <div class="selectdiv">
                    <select name="selectBank" class="select" id="selectBank">
                        <option selected value="SAIGONBANK">SAIGONBANK - Ngân hàng TMCP Sài Gòn Công Thương</option>
                        <option value="SACOMBANK">SACOMBANK - Ngân hàng TMCP Sài Gòn Thương Tín</option>
                        <option value="AGRIBANK">AGRIBANK - Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam</option>
                        <option value="DONGABANK">DONGABANK - Ngân hàng TMCP Đông Á</option>
                        <option value="TECHCOMBANK">TECHCOMBANK - Ngân hàng TMCP Kỹ Thương</option>
                        <option value="GPBANK">GPBANK - Ngân hàng Thương mại TNHH Một Thành Viên Dầu Khí Toàn Cầu</option>
                        <option value="BACABANK">BACABANK - Ngân hàng TMCP Bắc Á</option>
                        <option value="STANDARDCHARTERED">STANDARDCHARTERED - Ngân hàng TNHH Một Thành Viên Standard Chartered</option>
                        <option value="PVCOMBANK">PVCOMBANK - Ngân hàng TMCP Đại Chúng Việt Nam</option>
                        <option value="OCEANBANK">OCEANBANK - Ngân hàng TNHH Một Thành Viên Đại Dương</option>
                        <option value="VIETINBANK">VIETINBANK - Ngân hàng TMCP Công Thương Việt Nam</option>
                        <option value="ACB">ACB - Ngân hàng TMCP Á Châu</option>
                        <option value="BIDV">BIDV - Ngân hàng Đầu tư và Phát triển Việt Nam</option>
                        <option value="VRB">VRB - Ngân hàng liên doanh Việt Nga</option>
                        <option value="MBBank">MBBank - Ngân hàng TMCP Quân Đội</option>
                        <option value="TPBank">TPBank - Ngân hàng TMCP Tiên Phong</option>
                        <option value="SHINHANBANK">SHINHANBANK - Ngân hàng TNHH Một Thành Viên Shinhan Việt Nam</option>
                        <option value="ABBANK">ABBANK - Ngân hàng TMCP An Bình</option>
                        <option value="MSB">MSB - Ngân hàng TMCP Hàng Hải</option>
                        <option value="VIETABANK">VIETABANK - Ngân hàng TMCP Việt Á</option>
                        <option value="NAMABank">NAMABank - Ngân hàng TMCP Nam Á</option>
                        <option value="PGBANK">PGBANK - Ngân hàng TMCP Xăng dầu Petrolimex</option>
                        <option value="EXIMBANK">EXIMBANK - Ngân hàng TMCP Xuất Nhập khẩu Việt Nam</option>
                        <option value="VPBank">VPBank - Ngân hàng TMCP Việt Nam Thịnh Vượng</option>
                        <option value="VIETBANK">VIETBANK - Ngân hàng TMCP Việt Nam Thương Tín</option>
                        <option value="IVB">IVB - Ngân hàng TNHH Indovina</option>
                        <option value="VIETCOMBANK">VIETCOMBANK - Ngân hàng TMCP Ngoại thương Việt Nam</option>
                        <option value="HDBANK">HDBANK - Ngân hàng TMCP Phát triển TP.HCM</option>
                        <option value="BAOVIETBANK">BAOVIETBANK - Ngân hàng TMCP Bảo Việt</option>
                        <option value="PUBLICBANK">PUBLICBANK - Ngân hàng TNHH Một Thành Viên Public Việt Nam</option>
                        <option value="SEABANK">SEABANK - Ngân hàng TMCP Đông Nam Á</option>
                        <option value="VIB">VIB - Ngân hàng TMCP Quốc Tế Việt Nam</option>
                        <option value="HONGLEONGBANK">HONGLEONGBANK - Ngân hàng TNHH Một Thành Viên Hong Leong Việt Nam</option>
                        <option value="CB">CB - Ngân hàng Thương mại TNHH Một Thành Viên Xây Dựng Việt Nam</option>
                        <option value="COOPBANK">COOPBANK - Ngân hàng Hợp Tác Xã Việt Nam</option>
                        <option value="LIENVIETPOSTBANK">LIENVIETPOSTBANK - Ngân hàng TMCP Bưu Điện Liên Việt</option>
                        <option value="KIENLONGBANK">KIENLONGBANK - Ngân hàng TMCP Kiên Long</option>
                        <option value="BANVIETBANK">BANVIETBANK - Ngân hàng TMCP Bản Việt</option>
                        <option value="IBK-HN">IBK-HN - Ngân hàng Công nghiệp Hàn Quốc - Chi nhánh Hà Nội</option>
                        <option value="IBK-HCM">IBK-HCM - Ngân hàng Industrial Bank of Korea - Chi nhánh Hồ Chí Minh</option>
                        <option value="WOORIBANK">WOORIBANK - Ngân hàng Woori Bank Việt Nam</option>
                        <option value="UOBBANK">UOBBANK - Ngân hàng UOB Việt Nam</option>
                        <option value="CIMBBANK">CIMBBANK - Ngân hàng TNHH Một Thành Viên CIMB Việt Nam</option>
                        <option value="NONGHYUP">NONGHYUP - NongHyup BANK</option>


                    </select>
                </div>

                <br>
                <button type="submit" class="btnSubmit"><span>Rút tiền!</span></button>
            </form>
        </div>
    </div>
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
           
        </div>
        <div class="loaderText">
            <h1>Giao dịch đang được thực hiện. Vui lòng chờ trong giây lát!</h1>
            <h3>Vui lòng không làm mới hoặc tắt trình duyệt</h3>
        </div>
    </div>
    <!-- End: Main content-->

    <!-- footer -->
    {{>footer}}
    <!-- footer-end -->

    <!-- Start - My JS here -->
        <script src="js/my_js/pay_out_payment.js"></script>
        
    <!-- End - My JS here -->
    <script>
        $('header').css('display', 'none');
    </script>
	<!-- Start - Template JS here -->
        <script src="js/template_js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/template_js/popper.min.js"></script>
        <script src="js/template_js/bootstrap.min.js"></script>
        <script src="js/template_js/isotope.pkgd.min.js"></script>
        <script src="js/template_js/slick.min.js"></script>
        <script src="js/template_js/jquery.meanmenu.min.js"></script>
        <script src="js/template_js/ajax-form.js"></script>
        <script src="js/template_js/wow.min.js"></script>
        <script src="js/template_js/aos.js"></script>
        <script src="js/template_js/jquery-ui.min.js"></script>
        <script src="js/template_js/jquery.counterup.min.js"></script>
        <script src="js/template_js/jquery.waypoints.min.js"></script>
        <script src="js/template_js/jquery.nice-select.min.js"></script>
        <script src="js/template_js/jquery.scrollUp.min.js"></script>
        <script src="js/template_js/imagesloaded.pkgd.min.js"></script>
        <script src="js/template_js/jquery.magnific-popup.min.js"></script>
        <script src="js/template_js/plugins.js"></script>
        <script src="js/template_js/main.js"></script>
    <!-- End - Template JS here -->
</body>
</html>