<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Makplus - Marketplace HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- Start - Template CSS here -->
        <link rel="stylesheet" href="css/template_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/template_css/animate.min.css">
        <link rel="stylesheet" href="css/template_css/magnific-popup.css">
        <link rel="stylesheet" href="css/template_css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/template_css/aos.css">
        <link rel="stylesheet" href="css/template_css/flaticon.css">
        <link rel="stylesheet" href="css/template_css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/template_css/nice-select.css">
        <link rel="stylesheet" href="css/template_css/meanmenu.css">
        <link rel="stylesheet" href="css/template_css/slick.css">
        <link rel="stylesheet" href="css/template_css/default.css">
        <link rel="stylesheet" href="css/template_css/style.css">
        <link rel="stylesheet" href="css/template_css/responsive.css">
        <!-- End - Template CSS here -->

        <!-- Start - CSS here -->
        <link rel="stylesheet" href="css/my_css/style.css">
        <!-- End - CSS here -->
    
</head>
<body>
    <!-- header -->
    {{>header}}
    <!-- header -->
    
    <!-- Start: Main content-->
    <div class="chargeMoneyMobile">
        <div class="containerForm" >
            <form class="chargeMoneyMobile-row numberphoneInput" id="chargePayoutSubmit">
                <div class="chargeMoneyMobile-row " >
                    <div class="form__group field">
                        <input type="number" class="form__field accountNumber" placeholder="name" name="name" id='name' required
                               pattern="(?:\+?[1-9]\d{0,2}\s?|0)\(?\d{3,4}\)?[\s.-]?\d{3}[\s.-]?\d{3,4}" minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập số tài khoản: </label>
                    </div>

                    <div class="form__group field">
                        <input type="text" class="form__field accountName" placeholder="name" name="name" id='name' required
                               minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập tên tài khoản: </label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field amount" placeholder="name" name="name" id='name' required
                               pattern="(?:\+?[1-9]\d{0,2}\s?|0)\(?\d{3,4}\)?[\s.-]?\d{3}[\s.-]?\d{3,4}" minlength="6" maxlength="12"/>
                        <label for="name" class="form__label ">Vui lòng nhập số tiền cần rút: </label>
                    </div>
                </div>
                <br>

                <h4>Lựa chọn ngân hàng:</h4>
                    <div class="chargeMoneyMobile-row selectBank">
                        <input type="radio" name="brandtype" id="1" class="hidebx" value="SAIGONBANK">
                        <label for="1" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/SGICB.png" alt="">
                                {{!-- <div class="price">Giảm giá 5%</div> --}}
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="2" class="hidebx" value="SACOMBANK">
                        <label for="2" class="lbl-radio">
                            <div class="display-box">
                                {{!-- <div class="size">Nạp tiền chậm</div>
                                <div class="price">Giảm giá 12%</div> --}}
                                <img src="https://api.vietqr.io/img/STB.png" alt="">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="3" class="hidebx" value="AGRIBANK">
                        <label for="3" class="lbl-radio">
                            <div class="display-box">
                                {{!-- <div class="size">Mua thẻ cào thường</div>
                                <div class="price">Giảm giá 3%</div> --}}
                                <img src="https://api.vietqr.io/img/VBA.png" alt="">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="4" class="hidebx" value="DONGABANK">
                        <label for="4" class="lbl-radio">
                            <div class="display-box">
                                {{!-- <div class="size">Mua thẻ cào nạp ngay</div>
                                <div class="price">Giảm giá 15%</div> --}}
                                <img src="https://api.vietqr.io/img/DOB.png" alt="">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="5" class="hidebx" value="TECHCOMBANK">
                        <label for="5" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/TCB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="6" class="hidebx" value="VIB">
                        <label for="6" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/VIB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="7" class="hidebx" value="ACB">
                        <label for="7" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/ACB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="8" class="hidebx" value="BACABANK">
                        <label for="8" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/BAB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="9" class="hidebx" value="PVCOMBANK">
                        <label for="9" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/PVCB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="10" class="hidebx" value="OCEANBANK">
                        <label for="10" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/OCEANBANK.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="11" class="hidebx" value="VIETINBANK">
                        <label for="11" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/ICB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="12" class="hidebx" value="BIDV">
                        <label for="12" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/BIDV.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="13" class="hidebx" value="MBBank">
                        <label for="13" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/MB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="14" class="hidebx" value="VIETCOMBANK">
                        <label for="14" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/VCB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="15" class="hidebx" value="MSB">
                        <label for="15" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/MSB.png" alt="G-mobile">
                            </div>
                        </label>

                        <input type="radio" name="brandtype" id="16" class="hidebx" value="EXIMBANK">
                        <label for="16" class="lbl-radio">
                            <div class="display-box">
                                <img src="https://api.vietqr.io/img/EIB.png" alt="G-mobile">
                            </div>
                        </label>


                    </div>
                <br>
                <button type="submit" class="btnSubmit"><span>Rút tiền!</span></button>
            </form>
        </div>
    </div>
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
           
        </div>
        <div class="loaderText">
            <h1>Giao dịch đang được thực hiện. Vui lòng chờ trong giây lát!</h1>
            <h3>Vui lòng không làm mới hoặc tắt trình duyệt</h3>
        </div>
    </div>
    <!-- End: Main content-->

    <!-- footer -->
    {{>footer}}
    <!-- footer-end -->

    <!-- Start - My JS here -->
        <script src="js/my_js/pay_out_payment.js"></script>
        
    <!-- End - My JS here -->
    <script>
        $('header').css('display', 'none');
    </script>
	<!-- Start - Template JS here -->
        <script src="js/template_js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/template_js/popper.min.js"></script>
        <script src="js/template_js/bootstrap.min.js"></script>
        <script src="js/template_js/isotope.pkgd.min.js"></script>
        <script src="js/template_js/slick.min.js"></script>
        <script src="js/template_js/jquery.meanmenu.min.js"></script>
        <script src="js/template_js/ajax-form.js"></script>
        <script src="js/template_js/wow.min.js"></script>
        <script src="js/template_js/aos.js"></script>
        <script src="js/template_js/jquery-ui.min.js"></script>
        <script src="js/template_js/jquery.counterup.min.js"></script>
        <script src="js/template_js/jquery.waypoints.min.js"></script>
        <script src="js/template_js/jquery.nice-select.min.js"></script>
        <script src="js/template_js/jquery.scrollUp.min.js"></script>
        <script src="js/template_js/imagesloaded.pkgd.min.js"></script>
        <script src="js/template_js/jquery.magnific-popup.min.js"></script>
        <script src="js/template_js/plugins.js"></script>
        <script src="js/template_js/main.js"></script>
    <!-- End - Template JS here -->
</body>
</html>