* {
	box-sizing: border-box;
}

/* Charge money to mobile form css */
.chargeMoneyMobile{
	width: 100vw;
	height: auto;
	background: rgba(102, 99, 99, 0.383);
	display: grid;
	place-items: center;
}

.containerForm{
	max-width: 60vw;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	padding: 20px;
	position: relative;
	font-family: sans-serif;
	display: grid;
}

h4{
	color: #11998e;
	font-family: 'Times New Roman', Times, sans-serif;
}

.containerForm:before {
	content: '';
	position: absolute;
	bottom: -50px;
	left: 5%;
	width: 90%;
	height: 30px;
	background: rgb(0,0,0,0.35);
	border-radius: 50%;
	filter: blur(10px);
}

/* Start - Mobile menu */
#mobileForm{
	display: grid;
	grid-template-columns: repeat(2, 50%);
}
/* End - Mobile menu */

/* Start - Input numberphone */
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
  }
  
  .form__field {
	font-family: 'Times New Roman', Times, sans-serif;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: rgb(0, 0, 0);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
  }
  .form__field::placeholder {
	color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
  }
  
  .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
  }
  
  .form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #11998e;
	font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
	box-shadow: none;
  }
/* End - Input numberphone */

/* Select network provider */
.selectNetwork {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hidebx{
	display: none;
}

.display-box img{
	font-weight: 600;
	font-size: 20px;
	height: 62.89px;
	max-width: 100%;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}

.lbl-radio {
	text-align: center;
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
	padding: 20px;
	margin: 1em;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all 0.3s ease-in;
	border-radius: 5%;
}

.display-box .size{
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}

.display-box .realPrice{
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
	color: #1c212f;
}

.display-box img{
	font-weight: 600;
	font-size: 20px;
	height: 62.89px;
	max-width: 100%;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}

.display-box .price{
	font-weight: 600;
	font-size: 16px;
	color: rgba(160, 157, 157, 0.5);
}

input[type=radio]:checked + .lbl-radio{
	border-color: #286ab0;
}
/* End - select network provider */

/* Start - Select denomations */
.selectDeno {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.deno-radio {
	text-align: center;
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
	padding: 20px;
	margin: 1em;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all 0.3s ease-in;
	border-radius: 5%;
}

.price{
	font-size: 14px;
	color: rgba(112, 112, 112, 0.5);
}

.saleoff{
	font-weight: 600;
	font-size: 18px;
	color: rgba(245, 45, 45, 0.904);
}

input[type=radio]:checked + .deno-radio{
	border-color: #f14545;
}
/* End - Select denomations */

/* Start - Button for submit */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.button_submit {
	position: relative;
	left: 0;
	right: 0;
	top: 30%;
	margin-bottom: 5%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btnSubmit {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btnSubmit span {
  position: relative; 
  z-index: 1;
}

.btnSubmit:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btnSubmit:hover:after {
	-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
	transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
/* End - Button for submit */

/* Start - Loading */
.showbox {
	width: 100%;
	height: 85vh;
	position: relative;
	background-color: rgb(255, 255, 255);
	display: none;
	place-items: center;
}
.loader {
	position: relative;
	top: 50%;
	bottom: 50%;
	margin: 0 auto;
	width: 100px;
  }
  .loader:before {
	content: "";
	display: block;
	padding-top: 100%;
  }
  
  .circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  
  .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
  }
  
  @keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -35px;
	}
	100% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -124px;
	}
  }
  @keyframes color {
	100%, 0% {
	  stroke: #d62d20;
	}
	40% {
	  stroke: #0057e7;
	}
	66% {
	  stroke: #008744;
	}
	80%, 90% {
	  stroke: #ffa700;
	}
  }
 
.loaderText{
	position: relative;
	margin-top: 3rem;
	text-align: center;
}
  .loaderText h1{
	font-weight: 600;
	font-size:32px;
	color: rgb(23, 141, 161);
  }
  
  .loaderText h3{
	font-weight: 600;
	font-size: 20px;
	color: rgb(221, 51, 51);
  }
  
/* End - Loading */

/* Start - OTP input */
:root {
	--input-color: #99A3BA;
	--input-border: #CDD9ED;
	--input-background: #fff;
	--input-placeholder: #CBD1DC;
	--input-border-focus: #275EFE;
	--group-color: var(--input-color);
	--group-border: var(--input-border);
	--group-background: #EEF4FF;
	--group-color-focus: #fff;
	--group-border-focus: var(--input-border-focus);
	--group-background-focus: #678EFE;
  }
.otpContainer{
	width: 100vw;
	height: auto;
	background: rgba(2, 2, 2, 0.383);
	display: none;
	place-items: center;
}

.otpContainerForm{
	max-width: 70vw;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	padding: 20px;
	position: relative;
	font-family: sans-serif;
	display: grid;
	place-items: center;
}

.otpInputForm {
	position: relative;
	display: flex;
	width: 40%;
}
  .otpInputForm > span,
  .otpInputForm .form-field {
	white-space: nowrap;
	display: block;
  }
  .otpInputForm > span:not(:first-child):not(:last-child),
  .otpInputForm .form-field:not(:first-child):not(:last-child) {
	border-radius: 0;
  }
  .otpInputForm > span:first-child,
  .otpInputForm .form-field:first-child {
	border-radius: 6px 0 0 6px;
  }
  .otpInputForm > span:last-child,
  .otpInputForm .form-field:last-child {
	border-radius: 0 6px 6px 0;
  }
  .otpInputForm > span:not(:first-child),
  .otpInputForm .form-field:not(:first-child) {
	margin-left: -1px;
  }
  .otpInputForm .form-field {
	position: relative;
	z-index: 1;
	flex: 1 1 auto;
	width: 1%;
	margin-top: 0;
	margin-bottom: 0;
  }
  .otpInputForm > span {
	text-align: center;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 25px;
	color: var(--group-color);
	background: var(--group-background);
	border: 1px solid var(--group-border);
	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  .otpInputForm:focus-within > span {
	color: var(--group-color-focus);
	background: var(--group-background-focus);
	border-color: var(--group-border-focus);
  }
  
  .form-field {
	display: block;
	width: 100%;
	padding: 8px 16px;
	line-height: 25px;
	font-size: 18px;
	font-weight: 500;
	font-family: inherit;
	border-radius: 6px;
	-webkit-appearance: none;
	color: var(--input-color);
	border: 1px solid var(--input-border);
	background: var(--input-background);
	transition: border 0.3s ease;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
  }
  .form-field::placeholder {
	color: var(--input-placeholder);
  }
  .form-field:focus {
	outline: none;
	border-color: var(--input-border-focus);
  }
  
  html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  }
  
  * {
	box-sizing: inherit;
  }
  *:before, *:after {
	box-sizing: inherit;
  }
/* End - OTP input */
